# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/
CMakeUserPresets.json

# Binaries folders
build/
bin/
out/
target/

# Visual Studio
.vs/
*.sln
*.suo
*.user
*.vcxproj
*.vcxproj.*

# VS Code
.vscode/

# CLion / JetBrains
.idea/
cmake-build-*/

# Binaries
*.exe
*.dll
*.lib
*.pdb
*.obj
*.o
*.a
*.ilk
*.exp

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# macOS
.DS_Store